## IO Basic (read csv/sql/html)

### read csv

In [6]:
import pandas as pd
df = pd.read_csv("./data/ZILL-Z07733_MSP.csv")

In [7]:
print df.head()

         Date   Value
0  2016-05-31  615000
1  2015-12-31  552500
2  2015-11-30  609500
3  2015-10-31  559750
4  2015-09-30  657850

In [8]:
df.set_index('Date',inplace=True)
df.to_csv('./data/newcsv.csv')

In [10]:
df=pd.read_csv('./data/newcsv.csv')
print(df.head())

         Date   Value
0  2016-05-31  615000
1  2015-12-31  552500
2  2015-11-30  609500
3  2015-10-31  559750
4  2015-09-30  657850

### Specify the index when read in file

In [13]:
df=pd.read_csv('./data/newcsv.csv',index_col=0)
print(df.head())

             Value
Date
2016-05-31  615000
2015-12-31  552500
2015-11-30  609500
2015-10-31  559750
2015-09-30  657850

### Rename column names

In [14]:
df.columns = ['Holmdel_HPI']
print(df.head())

            Holmdel_HPI
Date
2016-05-31       615000
2015-12-31       552500
2015-11-30       609500
2015-10-31       559750
2015-09-30       657850

In [15]:
df.to_csv('./data/newcsv2.csv')

In [16]:
# store it without headers
df.to_csv('./data/newcsv3.csv',header = False)

### Read with mannual specified column names

In [22]:
df = pd.read_csv('./data/newcsv3.csv',names=['Date','Holmdel_HPI'],index_col=0)
print (df.head())

            Holmdel_HPI
Date
2016-05-31       615000
2015-12-31       552500
2015-11-30       609500
2015-10-31       559750
2015-09-30       657850

### Write DataFrame in html format

In [23]:
df.to_html('./data/example.html')

### Rename single column using dictionary

In [27]:
df = pd.read_csv('./data/newcsv3.csv',names=['Date','Holmdel_HPI'])
print (df.head())
print (df.rename(columns={'Holmdel_HPI':'HPI_07733'}).head())

         Date  Holmdel_HPI
0  2016-05-31       615000
1  2015-12-31       552500
2  2015-11-30       609500
3  2015-10-31       559750
4  2015-09-30       657850
         Date  HPI_07733
0  2016-05-31     615000
1  2015-12-31     552500
2  2015-11-30     609500
3  2015-10-31     559750
4  2015-09-30     657850